<style>
    .block{
        float: right;
    }
</style>

<div class="container mt-4">
  <h2>
    评论列表
  </h2>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>用户id</th>
      <th>用户名</th>
      <th>商品id</th>
      <th>商品名</th>
      <th>评论内容</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.user_id %></td>
        <td><%= comment.user.username %></td>
        <td><%= link_to comment.product_id, product_path(id: comment.product_id), method: :get %></td>
        <td><%= link_to comment.product.name, product_path(id: comment.product_id), method: :get %></td>
        <td><%= comment.content %></td>
        <td>
          <%= link_to '修改', edit_admin_comment_path(id: comment),method: :put, class: 'btn btn-primary' -%>
          <%= button_to '删除', admin_comment_path(id: comment), method: :delete, data: { confirm: '确认吗?' }, class: 'btn btn-primary' -%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% will_paginate @comments %>
</div>