<style>
    .block{
        float: right;
    }
</style>

<div class="container mt-4">
  <h2>
    外卖小哥申请表
  </h2>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>ID</th>
      <th>申请人id</th>
      <th>申请人用户名</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.id %></td>
        <td><%= request.user_id %></td>
        <td><%= request.username %></td>
        <td>
          <%= button_to '接受申请', admin_request_path(id: request),method: :put, class: 'btn btn-primary' -%>
          <%= button_to '拒绝', admin_request_path(id: request), method: :delete, data: { confirm: '确认吗?' }, class: 'btn btn-primary' -%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <% will_paginate @requests %>
</div>