<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Categories:</strong>
    <%= product.category_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= product.status %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= product.count %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= product.uuid %>
  </p>

</div>
